@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
section {
  font-family: "GmarketSansLight", sans-serif;
  font-size: 16px;
  color: #222222;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  display: block;
  max-width: 1000px;
}
section .loginlogo {
  padding-top: 50%;
  color: #0b2f15;
}
@media screen and (max-width: 767px) {
  section .loginlogo {
    padding-top: 30%;
  }
}
section .loginlogo a {
  font-size: 50px;
}
section .loginlogo a img {
  width: 150px;
  margin: 0 auto;
}
section form {
  width: 300px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
section form .container input[type=text],
section form .container input[type=password] {
  font-family: "GmarketSansLight", sans-serif;
  font-size: 16px;
  width: 300px;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
section form .container input[type=password] {
  font-family: "GmarketSansLight", sans-serif;
  margin-top: -1px;
}
section form .container button {
  font-size: 18px;
  background-color: #0b2f15;
  font-family: "GmarketSansBold", sans-serif;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 300px;
}
section form .container:hover {
  opacity: 0.9;
}
section form .container .show {
  position: absolute;
  top: 62px;
  right: 20px;
  cursor: pointer;
}
section form .container .bottom {
  padding-top: 10px;
}
section form .container .bottom #Box {
  position: absolute;
  left: 0;
  overflow: hidden;
}
section form .container .bottom .autologin {
  float: left;
  padding-left: 70px;
  background-size: 30px;
  background-position-x: 0px;
  background-position-y: 3px;
  cursor: pointer;
}
section form .container .bottom span {
  padding: 5px 0;
}
section form .container .bottom span.userid {
  position: relative;
  float: right;
  padding-right: 10px;
}
section form .container .bottom span:hover {
  opacity: 0.7;
}
section form .container .bottom .psw {
  float: right;
  padding-right: 5px;
}
section form .container .sub {
  padding-top: 22%;
}
section form .container .sub:hover {
  opacity: 0.7;
}