@charset "UTF-8";
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 레이아웃 */
body {
  font-family: "GmarketSansLight", sans-serif;
  word-break: keep-all;
  position: absolute;
  left: 0%;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
    color: #333333;
  }
}
body #menu {
  font-family: "GmarketSansBold", sans-serif;
  position: fixed;
  z-index: 1000;
}
body #menu a {
  border-radius: 45px;
}
body #menu a:hover {
  -webkit-text-decoration: underline 5px;
          text-decoration: underline 5px;
  -webkit-text-decoration-color: gold;
          text-decoration-color: gold;
}
body #menu header .innerBox .nav {
  position: relative;
  left: 70%;
}
@media screen and (max-width: 767px) {
  body #menu header .innerBox .nav {
    display: none;
  }
}
body #menu li {
  float: left;
  list-style: none;
  margin: 10px;
}
body #menu li a {
  display: block;
  padding: 10px 30px;
  background: white;
}
body #menu li a img {
  width: 100px;
}
body .section video {
  width: 50%;
  float: left;
  height: 970px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .section span a img {
  float: left;
  width: 50%;
}
@media screen and (max-width: 767px) {
  body .section span a img {
    width: 100%;
  }
}
body .section p {
  display: inline;
}
body .section p a img {
  width: 25%;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  float: right;
}
@media screen and (max-width: 767px) {
  body .section p a img {
    width: 50%;
  }
}
body .section .slide {
  font-size: 100px;
  text-align: center;
}
body .section .slide span a img {
  width: 33.333%;
}
@media screen and (max-width: 767px) {
  body .section .slide span a img {
    width: 45%;
  }
}
body .section .slide p a img {
  width: 50%;
}
body .section:nth-child(4) span a {
  line-height: 10;
  padding-left: 11%;
  padding: 15px;
}
@media screen and (max-width: 767px) {
  body .section:nth-child(4) span a {
    padding-left: 30%;
    margin: 0 auto;
  }
}
body .section:nth-child(4) span a:hover {
  -webkit-text-decoration: underline 5px;
          text-decoration: underline 5px;
  -webkit-text-decoration-color: gold;
          text-decoration-color: gold;
}
body .section:nth-child(4) span:last-child a {
  font-family: "GmarketSansBold", sans-serif;
  color: #222222;
  background: #fff;
  border-radius: 45px;
}
body .section:nth-child(4) p a img {
  float: left;
  width: 50%;
}
@media screen and (max-width: 767px) {
  body .section:nth-child(4) p a img {
    width: 100%;
  }
}
body .section:last-child span a img {
  float: left;
  width: 20%;
}
@media screen and (max-width: 767px) {
  body .section:last-child span a img {
    width: 30%;
  }
}
body .section:last-child footer {
  text-align: center;
  line-height: 2;
}
body .section:last-child footer p {
  display: block;
}